@import 'googlefonts';

$important: #fa0;

html, body {
  // all: initial;
  // margin: 0;
  // padding: 0;
  // border: none;
  // background-color: #1a3a1e;
  background-color: #000;
  color: #fff;
  font-family: 'Noto Sans Mono';
  font-size: 12px;
  overflow: hidden;
  text-shadow: 0.1em 0.1em #000;
}

h1, h2, h3, h4, h5 {
  line-height: 1em;
  margin: 0.2em;
}

p {
  line-height: 1.5em;
  margin: 0.1em;
}

canvas {
  margin: 0;
  padding: 0;
  border: none;
}

.Canvas {
  @extend canvas;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.Important {
  color: $important;
  font-size: 110%;
}

.NoMouse {
  pointer-events: none;
}

.WithMouse {
  pointer-events: all;
}

.FillParent {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.Absolute {
  position: absolute !important;
  top: 0;
  left: 0;
}

.NoPadding {
  padding: 0 !important;
}

.NoMargin {
  margin: 0 !important;
}

.NoBorder {
  border: none !important;
}

.GameLoading {
  @extend .FillParent;
  background-color: #000b;
  position: absolute;
  top: 0;
  left: 0;
}

.GameLoadingBox {
  width: 300px;
  height: 40px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 150px);
}

.GameLoadingBar {
  width: 100%;
  height: 50%;
  margin: auto;
}

.GameUILeft {
  @extend .FillParent;
  position: absolute;
  top: 0;
  left: 0;
}

.GameUIRight {
  @extend .GameUILeft;
  left: unset;
  right: 0;
}

.UI {
  pointer-events: all;
  position: relative;
  border: 1px solid #ddd;
  background-color: #0008;
  padding: 0.3em;
}

.Infos {
  color: #bbb;
  padding: 0.5em;
}

.Main {
  @extend .UI;
  width: 400px;
  height: 200px;
}

.ChamberLocation {
  @extend .UI;
  width: 250px;
  height: 250px;
}

.RealmLocation {
  @extend .UI;
  width: 250px;
  height: 180px;
}

.PlayerLocation {
  @extend .UI;
  width: 250px;
  height: 180px;
  margin-left: auto;
  margin-right: 0;
}

.AgentLocation {
  @extend .UI;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: 0;
}

.LocationImage {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 150px;
}
.LocationImg {
  max-width: 150px;
  max-height: 150px;
}

.BackgroundImage {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.Loader {
  @extend .UI;
  width: 200px;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.LoaderContent {
  padding: 0 0.5em;
  overflow-y: scroll;
  width: calc(100% - 1em);
  height: calc(80px - 0.25em);
}

.ChatButton {
  position: absolute;
  bottom: 0;
  left: 60px;
  width: 50%;
  height: 40px;
}

.ClearCover {
  // @extend .FillParent;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: all;
}
.FadedCover {
  @extend .ClearCover;
  background-color: #0008;
}

.FullscreenProfileImage {
  @extend .UI;
  position: absolute;
  left: calc(50% - 512px);
  top: calc(50% - 512px);
  width: 1024px;
  height: 1024px;
  pointer-events: none;
}

.ChatDialog {
  @extend .UI;
  position: absolute;
  left: calc(50% - 250px);
  top: calc(50% - 350px);
  width: 500px;
  height: 700px;
  padding: 0;
  margin: 0;
}

.ChatContent {
  padding: 1em;
  overflow-y: scroll;
  width: calc(100% - 20px);
  height: 625px;
}

.ChatInputRow {
  @extend .UI;
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 25px);
  height: 15px;
  padding: 1em;
}

.ChatInput {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: calc(100% - 100px);
  height: 20px;
}

.ChatSubmit {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 70px;
  height: 28px;
}

.UserTopic {
  margin-bottom: 1em;
}

.AgentTopic {
  @extend .UserTopic;
  background-color: #fff2;
}

