@import 'googlefonts';

html, body {
  // all: initial;
  // margin: 0;
  // padding: 0;
  // border: none;
  // background-color: #1a3a1e;
  background-color: #000;
  color: #fff;
  font-family: 'Noto Sans Mono';
  font-size: 12px;
  overflow: hidden;
}

h1, h2, h3, h4, h5 {
  line-height: 1em;
  margin: 0.1em;
}

canvas {
  margin: 0;
  padding: 0;
  border: none;
}

.Canvas {
  @extend canvas;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.NoMouse {
  pointer-events: none;
}

.WithMouse {
  pointer-events: all;
}

.FillParent {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.Absolute {
  position: absolute !important;
  top: 0;
  left: 0;
}

.NoPadding {
  padding: 0 !important;
}

.NoMargin {
  margin: 0 !important;
}

.NoBorder {
  border: none !important;
}

.GameUI {
  @extend .FillParent;
  position: absolute;
  top: 0;
  left: 0;
}

.UI {
  pointer-events: all;
  position: relative;
  border: 1px solid #ddd;
  background-color: #0008;
  padding: 0.3em;
}

.Main {
  @extend .UI;
  width: 400px;
  height: 200px;
}

.ChamberLocation {
  @extend .UI;
  width: 400px;
  height: 160px;
}

.PlayerLocation {
  @extend .UI;
  width: 400px;
  height: 130px;
}

.AgentLocation {
  @extend .UI;
  width: 400px;
  height: 130px;
}

.Loader {
  @extend .UI;
  width: 200px;
  height: 20px;
}